body {
    font-family: Georgia, serif;
}

.first {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.header {      
                  
    display: flex;     
    align-items: center;                       /* logo + links */
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 18px; 
}

.logo {
    font-weight: 900;
    font-size: 24px;
}

.links {
    display: flex; 
    font-size: 24px; 
    gap: 28px;
}

.links a:hover{
    color: greenyellow;
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.welcome-text, .top-image img {
   width: 450px;
}

.greeting {
    color: greenyellow;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 12px;
}
.description-text {
    font-size: 20px; 
}

.lets-go {
    margin-top: 40px;
    padding: 1em 1.8em;
    border: 1px solid greenyellow;
    background-color: #1F2937;
    color: greenyellow;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.second {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}

h2 {
    text-align: center;
    font-size: 40px;
}

.second img {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.images {
    display: flex;
    justify-content: center;
}

.album {
    display: flex;
    flex-flow: column wrap;
}

.album span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.third {
    background-color: rgb(230, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.quote {
    display: flex;
    flex-flow: column wrap;
    width: 900px;
    padding: 30px;
}

.quote-text {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

.quote span {
    text-align: start;
    font-weight: 700;
    font-size: 18px;
}

.fourth {
    background-color: rgb(17, 144, 230);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin: 6em 32em;
}

.signup-text {
    display: flex;
    flex-flow: column wrap;
}

.su-text-first {
    font-weight: 900;
    font-size: 26px;
}

.su-text-second {
    font-size: 20px;
}

.sign-up {
    align-self: center;
    padding: 1em 1.8em;
    border: 3px solid white;
    background-color: rgb(17, 144, 230);
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}